/incremental_db
/db
*.rpt
*.summary
/QsysTest
/software/*/obj
*.bak
*.tcl~
/.qsys_edit
*.html
*.sopcinfo
*.done
*.smsg
*.jdi
*.sof
*.lock
software/.metadata/
*.elf
*.map
*.objdump
*.force_relink
software/QsysTest_bsp/libhal_bsp.a
software/QsysTest_bsp/linker.h
software/QsysTest_bsp/linker.x
software/QsysTest_bsp/mem_init.mk
software/QsysTest_bsp/memory.gdb
software/QsysTest_bsp/system.h
